.success{
    color:white;
    background-color: green;

}
.error{
    color:white;
    background-color: red;
}
.information {
    color:blue;
    background-color:white;

}
.warning{
    color:white;
    background-color: orange;
}